# This is what is relevant for composer installs
# Whitelist: exclude everything, selectively include for distribution
* export-ignore

/config/ -export-ignore
/config/** -export-ignore
/src/ -export-ignore
/src/** -export-ignore

/composer.json -export-ignore
/rules.neon -export-ignore

/CHANGELOG.md -export-ignore
/LICENSE.txt -export-ignore
/README.md -export-ignore
