parametersSchema:
    iwf: structure([
        controller: structure([
            controllerNamespace: string()
            excludedNamespaces: listOf(string())
            excludedControllers: listOf(string())
        ])
        requiredUseAlias: structure([
            aliasDefinitions: listOf(structure([
                namespace: string()
                alias: string()
            ]))
        ])
        attributeRequirements: structure([
            attributeDefinitions: listOf(structure([
                attribute: string()
                requires: listOf(string())
            ]))
        ])
        handleBusTrait: structure([
            handleBusTraitMappings: arrayOf(string())
            handleBusTraitNamespaces: listOf(string())
        ])
        requireInvalidDataTestGroup: structure([
            requireInvalidDataTestGroupNamespaces: listOf(string())
        ])
        forceDateProvider: structure([
            allowedFormats: listOf(string())
        ])
    ])

parameters:
    iwf:
        controller:
            controllerNamespace: 'App\Controller\Foo'
            excludedNamespaces: []
            excludedControllers:
                - 'App\Controller\Api\Security\LoginController'
        requiredUseAlias:
            aliasDefinitions:
                - { namespace: 'Doctrine\ORM\Mapping', alias: 'ORM' }
                - { namespace: 'OpenApi\Attributes', alias: 'OA' }
                - { namespace: 'Coala\OpenApiContracts', alias: 'CoalaOA' }
                - { namespace: 'Coala\ModelMappingBundle\Annotation', alias: 'ModelMapping' }
                - { namespace: 'Symfony\Component\Validator\Constraints', alias: 'Assert' }
                - { namespace: 'Symfony\Component\Serializer\Attribute', alias: 'Serializer' }
        attributeRequirements:
            attributeDefinitions:
                -
                    attribute: 'Symfony\Component\Routing\Attribute\Route'
                    requires:
                        - 'OpenApi\Attributes\Tag'
                        - 'Symfony\Component\Security\Http\Attribute\IsGranted'
        handleBusTrait:
            handleBusTraitMappings: []
            handleBusTraitNamespaces:
                - 'App\Controller'
        requireInvalidDataTestGroup:
            requireInvalidDataTestGroupNamespaces:
                - 'App\Tests'
        forceDateProvider:
            allowedFormats:
                - 'Y-m-d'
                - 'Y-m-d H:i:s'
                - 'Y-m-d\TH:i:s'
                - 'Y-m-d\TH:i:sP'
                - 'U'

services:
    -
        class: IWF\RectorRules\Controller\ControllerHandleReturnTypeRule
        arguments:
            controllerNamespace: %iwf.controller.controllerNamespace%
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Controller\ControllerIsGrantedRule
        arguments:
            controllerNamespace: %iwf.controller.controllerNamespace%
            excludedNamespaces: %iwf.controller.excludedNamespaces%
            excludedControllers: %iwf.controller.excludedControllers%
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Common\NoAnnotationAsAttributeRule
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Common\RequiredUseAliasRule
        arguments:
            aliasDefinitions: %iwf.requiredUseAlias.aliasDefinitions%
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Common\RequiredUseAliasGroupUseRule
        arguments:
            aliasDefinitions: %iwf.requiredUseAlias.aliasDefinitions%
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Common\AttributeRequirementsRule
        arguments:
            attributeDefinitions: %iwf.attributeRequirements.attributeDefinitions%
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Common\MbFunctionUsageRule
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Coala\DateProvider\ForceDateProviderNewRule
        arguments:
            allowedFormats: %iwf.forceDateProvider.allowedFormats%
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Coala\DateProvider\ForceDateProviderFuncCallRule
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Coala\DateProvider\ForceDateProviderStaticCallRule
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Coala\Messenger\UseHandleBusTraitRule
        arguments:
            handleBusTraitMappings: %iwf.handleBusTrait.handleBusTraitMappings%
            handleBusTraitNamespaces: %iwf.handleBusTrait.handleBusTraitNamespaces%
        tags:
            - phpstan.rules.rule

    -
        class: IWF\RectorRules\Coala\Testing\RequireInvalidDataTestGroupRule
        arguments:
            requireInvalidDataTestGroupNamespaces: %iwf.requireInvalidDataTestGroup.requireInvalidDataTestGroupNamespaces%
        tags:
            - phpstan.rules.rule
